jupyter
requests
pandas
matplotlib
seaborn
plotly
PyPDF2
PyAutoGUI
folium
beautifulsoup4
pycoingecko
pytesseract
nltk
pillow
mesa==1.1.1
Django
tensorflow
dash
Flask
scikit-learn
XlsxWriter
openpyxl
kaggle
tabulate
autopep8
pycodestyle
pylint
lxml
reportlab
flickrapi
pyarrow
wordcloud
requests-html
ipympl
agentpy
bokeh
paramiko
flask_wtf
Faker
xlwings
lxml_html_clean
statsmodels
squarify
openai==0.28
opencv-python-headless
langchain==0.3.7
sqlalchemy==2.0.35
gunicorn==23.0.0
psycopg2-binary==2.9.10
langchain-community==0.3.5
langchain==0.3.7
langchain-core==0.3.34
python-pptx==1.0.2
geopandas
googletrans
yfinance==1.1.0