version: '3.8'

services:
  app:
    image: mcr.microsoft.com/devcontainers/python:3.11
    volumes:
      - ..:/workspace:cached
    command: sleep infinity
    environment:
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      POSTGRES_DB: scidb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: geheim

  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_DB: scidb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: geheim
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
